core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.theia/
assets/images/Kara.jpg
assets/images/Mitsuri.jpg
deleted:    assets/images/Kara.jpg
deleted:    assets/images/Mitsuri.jpg
deleted:    assets/images/Kara.jpg
deleted:    assets/images/Kara.jpg
deleted:    assets/images/Mitsuri.jpg
deleted:    assets/images/karacv.pdf
ssets/images/karacv.pdf
assets/images/Mitsuri.jpg