@import url('https://fonts.googleapis.com/css2?family=Prata&display:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/* --------------------------------------------------Body */


/* --------------------------------------------------Heading */

body {
  font-family: "Prata", sans-serif;
  background-color: #ffe6ff;
  color: #330033;
 }

header {
    background-color: #ffe6ff;
    height: 90px;
}

#logo {
    float: left;    
    letter-spacing: 2px;
    font-size: 400%;
    color: #330033;
    padding-left: 30px;
}

#menu {
    font-size: 175%; 
    font-weight: 500;       
    list-style-type: none;
    letter-spacing: 2px;     
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 25px;    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #330033;
}

.active-page {
    border-bottom: 1px solid #330033;
}

#heroimage {    
    height: 950px;
    width: 100%;
    background: url("../images/hin\ hero\ image.jpg") no-repeat;
    background-size: cover;
    background-position-y: 5%;    
}

/* --------------------------------------------------About Me */
#about-text {       
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);    
    top: 756px;
    position: absolute;    
}

#about-text > h2 {
    text-align: center;
    color: #ffe6ff;
    margin: 30px;
}

#about-text > p {
    text-align: center;
    color: #ffe6ff;
    margin: 10px 30px;    
}

.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #ffe6ff;
    color: black;    
    border-radius: 10px;
}

.button1:hover {
    background-color: black;
    color: #ffe6ff;
}


/* --------------------------------------------------Skills and Services */
#skills-bg {
    background-color: #ffe6ff;
    margin-left: 30px;
    overflow: hidden;    
}

#skills-bg h2 {
    text-align: center;
    margin: 25px 0 10px 0;
}

#skills-bg div {   
   width: 30%;
   height: 200px;
   float: left;
   background-color: grey; 
   text-align: center;
   padding-top: 90px;
   margin: 15px;
   border-radius: 10px; 
}

/* --------------------------------------------------Testimonials */
.bg-colour-testimonials {
    background-color: white;
    height: 400px;
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    height: 150px;
    width: 375px;
    text-align: center;
}

.checked {
    color: orange;
}

#heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left-quote-style {
    margin-right: 5px;
}

.right-quote-style {
    margin-left: 5px;
}

/* --------------------------------------------------Gallery */

#gallery-bg {
    background-color: #330033;
    width: 100%;
    height: 475px;
    margin: 0 0 10px 0;
    padding: 7px 0 0 27px;   
    overflow: hidden;
}

#gallery-bg div {
    height: 200px;
    width: 21.99999%;
    float: left;
    background-color: grey;
    text-align: center;
    padding-top: 90px;
    margin: 15px;
    border-radius: 10px;
}

.gallery-tiles {
    height: 200px;
    width: 21.99999%;
    background-color: white;
    background-image: url("../images/Mitsuri.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 23px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: black;
    box-sizing: border-box;
}



/* --------------------------------------------------Contact */



.map-container {
    height: 440px;
}

.map-bg {
    background-color: white;
    height: 110%;
}

.contact-container {
    background-color: #330033;
    color: #ffe6ff;
    margin-top: 10px;
}

.form-position {
    margin: auto;
    max-width: 40%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 30px;
}

.contact-icons {
    margin: 0 25px;
    font-size: x-large;
}

.contact-text {
    margin-left: 30px;
}

/* --------------------------------------------------Footer */

footer {
    height: 50px;
    position: relative;
}

.footer-info {
    text-align: center;
    margin-top: 15px;
}

.footer-info li {
    font-size: 160%; 
    list-style-type: none;
    display: inline-block;
    color: #330033;
    padding: 5px;
    margin: 1%;
    
}

.footer-info i {
    color: #330033;
    text-decoration: none;
    margin-left: 1%;
}


/* --------------------------------------------------Media Queries */

@media screen and (max-width: 943px) {  
    #heroimage {
        height: 860px;
        width: 100%;
        background: url("../images/hin\ hero\ image.jpg") no-repeat;
        background-size: cover;
        background-position-y: 5%;
    }

    #about-text {
        width: 100%;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.5);
        top: 665px;
        position: absolute;
    }
    
    #skills-bg {
        background-color: #ffe6ff;
        margin-left: 10px;
        overflow: hidden;
    }
    
    #skills-bg h2 {
        text-align: center;
        margin: 25px 0 10px 0;
    }

    #skills-bg div {
        width: 45%;
        height: 200px;
        float: left;
        background-color: grey;
        text-align: center;
        padding-top: 90px;
        margin: 15px;
        border-radius: 10px;
    }   

   #gallery-bg {
       background-color: #330033;
       width: 100%;
       height: 950px;
       margin: 0 0 10px 0;
       padding: 7px 0 0 27px;
       overflow: hidden;
   }

   #gallery-bg div {
       height: 200px;
       width: 44%;
       float: left;
       background-color: grey;
       text-align: center;
       padding-top: 90px;
       margin: 17px;
       border-radius: 10px;
   }

   .disappear {
       display: none;
   }

   .flex-container>div {
       height: 150px;
       width: 375px;
       text-align: center;
       padding: 0 
       7px;
   }
}

@media screen and (max-width: 800px) {
    #heroimage {
        height: 860px;
        width: 100%;
        background: url("../images/hin\ hero\ image.jpg") no-repeat;
        background-size: cover;
        background-position-y: 5%;
        background-position-x: 50%;
    }

        #about-text {
        width: 100%;
        height: 440px;
        background-color: rgba(0, 0, 0, 0.5);
        top: 525px;
        position: absolute;
    }

        #skills-bg div {
        width: 90%;
        height: 200px;
        float: left;
        background-color: grey;
        text-align: center;
        padding-top: 90px;
        margin: 15px;
        border-radius: 10px;
    }

        #gallery-bg {
            background-color: #330033;
            width: 100%;
            height: 1900px;
            margin: 0 0 10px 0;
            padding: 7px 0 0 8px;
            overflow: hidden;
        }
    
        #gallery-bg div {
            height: 200px;
            width: 90%;
            float: left;
            background-color: grey;
            text-align: center;
            padding-top: 90px;
            margin: 17px;
            border-radius: 10px;
        }
}