@import url('https://fonts.googleapis.com/css2?family=Prata&display:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/* --------------------------------------------------Body */


/* --------------------------------------------------Heading */

body {
  font-family: "Prata", sans-serif;
  background-color: #ffe6ff;
  
}

header {
    background-color: #ffe6ff;
    width: 100vw;
}

#logo {
    text-align: left;
    letter-spacing: 2px;
    font-size: 300%;
    margin-left: 20px;
}

#logo li a {
    text-decoration: none;
    color: #330033;
}

#menu {
    font-size: 130%; 
    font-weight: 500;       
    list-style-type: none;
    letter-spacing: 2px;
    text-align: right;
    margin-top: 25px;
    margin-right: 25px;     
}



#menu a {
    text-decoration: none;
    color: #330033;
}

#menu a:hover {
    border-bottom: 1px solid #330033;
}

#heroimage {
    background-image: url("../images/hin\ hero\ image.jpg");
    height: 1050px;
    width: 100vw;
    background-repeat: no-repeat center center;
    background-size: 100%;
}

/* --------------------------------------------------About Me */
.bg-about {    
    background-position: bottom;
    height: 450px;
    width: 100vw;
}

#profile-pic {
    height: 300px;
    width: 275px;
    background-image: url("../images/Kara.jpg");
    background-repeat: no-repeat;
}

#about-text {       
    width: 100vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 837px;
    position: absolute;    
}

#about-text > h2 {
    text-align: center;
    color: #ffe6ff;
    margin-top: 30px;
}

#about-text > p {
    text-align: center;
    color: #ffe6ff;
    margin: 15px;
    
}

.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #ffe6ff;
    color: black;    
    border-radius: 10px;
}

.button1:hover {
    background-color: black;
    color: #ffe6ff;
}


/* --------------------------------------------------Skills and Services */
#skills-bg {
    background-color: #ffe6ff;      
}

#skills-heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;    
}

.tile-detail-cutting {
    height: 200px;
    width: 375px;    
    background-image: url("../images/Cutting.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

.tile-detail-colour {
    height: 200px;
    width: 375px;
    background-image: url("../images/colour.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

.tile-detail-styling {
    height: 200px;
    width: 375px;
    background-image: url("../images/styling.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

.tile-detail-tvfilm {
    height: 200px;
    width: 375px;
    background-image: url("../images/tvfilm.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
}

.tile-detail-events {
    height: 200px;
    width: 375px;
    background-image: url("../images/events.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

.tile-detail-education {
    height: 200px;
    width: 375px;
    background-image: url("../images/education.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 27px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* --------------------------------------------------Testimonials */
.bg-colour-testimonials {
    background-color: white;
    height: 400px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    height: 150px;
    width: 375px;
    text-align: center;
}

.checked {
    color: orange;
}

#heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left-quote-style {
    margin-right: 5px;
}

.right-quote-style {
    margin-left: 5px;
}


/* --------------------------------------------------Footer */

#footer-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-container h5 {
    font-weight: 500;
}

.icons {
    margin: 10px;
    font-size: larger;
    color: #330033;
}

.icons:hover {
    color: #ffe6ff;
    background-color: #330033;
}


/* --------------------------------------------------Gallery */

#gallery-bg {
    background-color: #330033;
    padding-top: 20px;
}

.gallery-tiles {
    height: 200px;
    width: 21.99999%;
    background-color: white;
    background-image: url("../images/Mitsuri.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 90px;
    margin-left: 23px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: black;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .gallery-tiles {
            height: 200px;
            width: 44.99999%;            
            background-image: url("../images/Mitsuri.jpg");
            background-size: 100%;
            background-repeat: no-repeat center center;
            padding-top: 90px;
            margin-left: 23px;
            margin-bottom: 25px;
            border-radius: 10px;        
        }
}

/* --------------------------------------------------Contact */

#googleMap {
    width: 75%;
    height: 90%;
    margin: auto;
    top: 20px;
}

function myMap() {
    var mapProp= {
        center: new google.maps.LatLng(51.508742, -0.120850),
            zoom:5,
    }

    ;
    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}

.map-container {
    height: 440px;
}

.map-bg {
    background-color: white;
    height: 110%;
}

.contact-container {
    background-color: #330033;
    color: #ffe6ff;
    margin-top: 10px;
}

.form-position {
    margin: auto;
    max-width: 40%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 30px;
}

.contact-icons {
    margin: 0 25px;
    font-size: x-large;
}

.contact-text {
    margin-left: 30px;
}

/* --------------------------------------------------Media Queries */

@media (min-width: 768px) {
    
}